html, body{
  font-family: 'Dosis', sans-serif;
  background-color: white;
  margin: auto;
}
.homeDiv, .githubCards {
  width: 75%;
  font-size: 1.3em;
  margin-left: auto;
  margin-right: auto;
  
}

.title {
  color: black;
  text-align: center;
}

.grad-line{
    margin: 25px 0;
    height: 1px;
    background: rgba(196, 203, 211, 0.8);
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(31, 40, 51, 1)), to(rgba(31, 40, 51, 1)), color-stop(50%, white));
}

.blurb {
  color: black;
  text-align: center;
  word-wrap: break-word !important;
  line-height: 2em;
}

.App{
  margin: 0 auto;
}

#nav-bar{
  display: inline-flexbox;
  font-display: none;
}

#icons{
  margin-left: calc(30%);
}

i{
  padding: 2rem;
}

.fab,
.fas {
  font-size: 3.5rem;
  padding: calc(1em);
  color: #0e76a8;
}

.content{
  margin: auto;
}

#cards{
  display: flex;
}

.gitCard{
  border-radius: 5%;
  padding: 2%;
  margin: 0 2%;
  color: white;
  font-size: 1em;
  width: 250px;
  height: 250px;
  background-color: #0e76a8;
}

